@import url('https://fonts.googleapis.com/css?family=Atma|Montserrat:300,300i,400,400i,700,700i|Vollkorn:400,400i,700,700i&subset=bengali,latin-ext');

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: auto;
  color: #fff;
}

p { 
  margin-top: auto;
}

#header {
  background: url("Lebanon-2.jpeg");
  background-size: 100%;
  background-attachment: fixed;
  column-count: 2;
  width:100%;
  height: 100vh;
  margin: auto;
  color: #fff;
}

#header td {
  text-align: center;
}

#header #title {
  width: 450px;
  margin: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 25px;
  margin-top: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

article{
  height: 100vh;
  padding: 10vh;
  box-sizing: border-box;
}

article div {
  height: 80vh;
  padding: 5vh;
  box-sizing: border-box;
  column-count: 2;
  background-color: rgba(0, 0, 0, 0.5); 
}

#article1 {
  background: url("15040323349_bc95e76545_b.jpg");
  background-attachment:fixed;
  background-size: 100%;
}

#article2 {
  background: url("8278992944_46829f796c_o.jpg");
  background-attachment:fixed;
  background-size: 100%;
}

#article3 {
  background: url("/31939877520_3206b0e43e_o.jpg");
  background-attachment:fixed;
  background-size: 100%;
}

#article4 {
  background: url("23518707714_77546d41c6_b.jpg");
  background-attachment:fixed;
  background-size: 100%;
}

h2 {
  margin-top: auto;
  margin-bottom: 25px;
  column-span: all;
}
